*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

article{
    margin-top: 15rem;
    height: 80vh;
}

.nav-f1 ul li a, .nav-f2 ul li a{
    font-size: 1.5rem;
}
